# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_CHAT_DEPLOYMENT=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=

# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=book_chapters_4_6

# App settings
CHUNK_SIZE=512
CHUNK_OVERLAP=80
TOP_K=4
EMBEDDING_BATCH_SIZE=16
RAW_DATA_DIR=data/raw/docs
PROCESSED_DATA_DIR=data/processed
SOURCE_FILE_NAMES=Chapter_4_Evaluate_AI_Systems.pdf,Chapter_5_Prompt_Engineering.pdf,Chapter_6_RAG_and_Agents.pdf
